<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label>Título</label>
      <input #title type="text" class="form-control" formControlName="title" placeholder="Título">
    </div>
    <div class="form-group">
      <label>Descripción</label>
      <input type="text" class="form-control" formControlName="description" placeholder="Descripción">
    </div>
    <input type="hidden" formControlName="id">
    <button type="submit" class="btn btn-primary" [disabled]="this.form.status!='VALID'">Guardar</button>
</form>
