/* You can add global styles to this file, and also import other style files */
asl-google-signin-button div{
    display:flex;
    flex-direction: row;
    justify-content: center;
    text-align:center;
}
